/LECTURES/DecadesOfSprites/6java-gdx/JavaSprites/target/
/LECTURES/DecadesOfSprites/4PC-dos/*.DPR
/LECTURES/DecadesOfSprites/4PC-dos/*.BAK
/LECTURES/DecadesOfSprites/4PC-dos/*.prg
/LECTURES/DecadesOfSprites/5python/*.pyc
/LECTURES/DecadesOfSprites/4PC-dos/temp/
